In [1]:
!pip install --upgrade snowflake-sqlalchemy

Collecting snowflake-sqlalchemy
  Downloading https://files.pythonhosted.org/packages/b3/eb/0149636071dafa42ff955c50e615d876e986c8ecc4d804af3d1068b2b4ce/snowflake_sqlalchemy-1.2.0-py2.py3-none-any.whl
Collecting snowflake-connector-python<3.0.0
  Downloading https://files.pythonhosted.org/packages/8b/4a/4f36ae18d6d37b27c71b41087b3c36fc577dda325f574c35ba423476936f/snowflake_connector_python-2.2.0-cp37-cp37m-manylinux2010_x86_64.whl (11.1MB)
     |████████████████████████████████| 11.2MB 49.8MB/s eta 0:00:01
Requirement already satisfied, skipping upgrade: sqlalchemy<2.0.0 in /srv/conda/envs/saturn/lib/python3.7/site-packages (from snowflake-sqlalchemy) (1.3.11)
Requirement already satisfied, skipping upgrade: urllib3<1.26.0,>=1.20 in /srv/conda/envs/saturn/lib/python3.7/site-packages (from snowflake-connector-python<3.0.0->snowflake-sqlalchemy) (1.25.7)
Requirement already satisfied, skipping upgrade: pyOpenSSL<21.0.0,>=16.2.0 in /srv/conda/envs/saturn/lib/python3.7/site-packages (from snowflake-connector-python<3.0.0->snowflake-sqlalchemy) (19.1.0)
Requirement already satisfied, skipping upgrade: boto3<1.12,>=1.4.4 in /srv/conda/envs/saturn/lib/python3.7/site-packages (from snowflake-connector-python<3.0.0->snowflake-sqlalchemy) (1.10.39)
Collecting azure-storage-blob<12.0.0
  Downloading https://files.pythonhosted.org/packages/3e/84/610f379b46d7d3c2d48eadeed6a12b6d46a43100fea70534f5992d0ac996/azure_storage_blob-2.1.0-py2.py3-none-any.whl (88kB)
     |████████████████████████████████| 92kB 21.3MB/s eta 0:00:01
Collecting ijson<3.0.0
  Downloading https://files.pythonhosted.org/packages/19/1d/7c97e1dd574667bbaefc9540feafbcdb8c0641ec2c88410c174b7b95e2cb/ijson-2.6.1-cp37-cp37m-manylinux1_x86_64.whl (65kB)
     |████████████████████████████████| 71kB 18.6MB/s eta 0:00:01
Requirement already satisfied, skipping upgrade: asn1crypto<2.0.0,>0.24.0 in /srv/conda/envs/saturn/lib/python3.7/site-packages (from snowflake-connector-python<3.0.0->snowflake-sqlalchemy) (1.2.0)
Requirement already satisfied, skipping upgrade: cffi<1.14,>=1.9 in /srv/conda/envs/saturn/lib/python3.7/site-packages (from snowflake-connector-python<3.0.0->snowflake-sqlalchemy) (1.13.2)
Requirement already satisfied, skipping upgrade: certifi<2021.0.0 in /srv/conda/envs/saturn/lib/python3.7/site-packages (from snowflake-connector-python<3.0.0->snowflake-sqlalchemy) (2019.11.28)
Requirement already satisfied, skipping upgrade: cryptography<3.0.0,>=1.8.2 in /srv/conda/envs/saturn/lib/python3.7/site-packages (from snowflake-connector-python<3.0.0->snowflake-sqlalchemy) (2.8)
Requirement already satisfied, skipping upgrade: idna<3.0.0 in /srv/conda/envs/saturn/lib/python3.7/site-packages (from snowflake-connector-python<3.0.0->snowflake-sqlalchemy) (2.8)
Collecting azure-common<2.0.0
  Downloading https://files.pythonhosted.org/packages/3f/4b/8881f8446853dfe3d404468689edcff33c0e2bf62ac2ddf31d08d739fadc/azure_common-1.1.24-py2.py3-none-any.whl
Requirement already satisfied, skipping upgrade: botocore<1.15,>=1.5.0 in /srv/conda/envs/saturn/lib/python3.7/site-packages (from snowflake-connector-python<3.0.0->snowflake-sqlalchemy) (1.13.39)
Collecting pycryptodomex!=3.5.0,<4.0.0,>=3.2
  Downloading https://files.pythonhosted.org/packages/ce/a3/b72444480e4c719cdd9d66122f037bd5a67abd6c2ca38392bceec9f63738/pycryptodomex-3.9.6-cp37-cp37m-manylinux1_x86_64.whl (13.7MB)
     |████████████████████████████████| 13.7MB 44.3MB/s eta 0:00:01
Collecting pyjwt<2.0.0
  Downloading https://files.pythonhosted.org/packages/87/8b/6a9f14b5f781697e51259d81657e6048fd31a113229cf346880bb7545565/PyJWT-1.7.1-py2.py3-none-any.whl
Collecting oscrypto<2.0.0
  Downloading https://files.pythonhosted.org/packages/2a/79/4849dadb88f6cddc8ad4c701c11be5cb36434f043c73cebc3b0494943e77/oscrypto-1.2.0-py2.py3-none-any.whl (192kB)
     |████████████████████████████████| 194kB 65.5MB/s eta 0:00:01
Requirement already satisfied, skipping upgrade: pytz<2021.0 in /srv/conda/envs/saturn/lib/python3.7/site-packages (from snowflake-connector-python<3.0.0->snowflake-sqlalchemy) (2019.3)
Requirement already satisfied, skipping upgrade: requests<2.23.0 in /srv/conda/envs/saturn/lib/python3.7/site-packages (from snowflake-connector-python<3.0.0->snowflake-sqlalchemy) (2.22.0)
Requirement already satisfied, skipping upgrade: six>=1.5.2 in /srv/conda/envs/saturn/lib/python3.7/site-packages (from pyOpenSSL<21.0.0,>=16.2.0->snowflake-connector-python<3.0.0->snowflake-sqlalchemy) (1.13.0)
Requirement already satisfied, skipping upgrade: jmespath<1.0.0,>=0.7.1 in /srv/conda/envs/saturn/lib/python3.7/site-packages (from boto3<1.12,>=1.4.4->snowflake-connector-python<3.0.0->snowflake-sqlalchemy) (0.9.4)
Requirement already satisfied, skipping upgrade: s3transfer<0.3.0,>=0.2.0 in /srv/conda/envs/saturn/lib/python3.7/site-packages (from boto3<1.12,>=1.4.4->snowflake-connector-python<3.0.0->snowflake-sqlalchemy) (0.2.1)
Collecting azure-storage-common~=2.1
  Downloading https://files.pythonhosted.org/packages/6b/a0/6794b318ce0118d1a4053bdf0149a60807407db9b710354f2b203c2f5975/azure_storage_common-2.1.0-py2.py3-none-any.whl (47kB)
     |████████████████████████████████| 51kB 14.1MB/s eta 0:00:01
Requirement already satisfied, skipping upgrade: pycparser in /srv/conda/envs/saturn/lib/python3.7/site-packages (from cffi<1.14,>=1.9->snowflake-connector-python<3.0.0->snowflake-sqlalchemy) (2.19)
Requirement already satisfied, skipping upgrade: docutils<0.16,>=0.10 in /srv/conda/envs/saturn/lib/python3.7/site-packages (from botocore<1.15,>=1.5.0->snowflake-connector-python<3.0.0->snowflake-sqlalchemy) (0.15.2)
Requirement already satisfied, skipping upgrade: python-dateutil<2.8.1,>=2.1 in /srv/conda/envs/saturn/lib/python3.7/site-packages (from botocore<1.15,>=1.5.0->snowflake-connector-python<3.0.0->snowflake-sqlalchemy) (2.8.0)
Requirement already satisfied, skipping upgrade: chardet<3.1.0,>=3.0.2 in /srv/conda/envs/saturn/lib/python3.7/site-packages (from requests<2.23.0->snowflake-connector-python<3.0.0->snowflake-sqlalchemy) (3.0.4)
Installing collected packages: azure-common, azure-storage-common, azure-storage-blob, ijson, pycryptodomex, pyjwt, oscrypto, snowflake-connector-python, snowflake-sqlalchemy
Successfully installed azure-common-1.1.24 azure-storage-blob-2.1.0 azure-storage-common-2.1.0 ijson-2.6.1 oscrypto-1.2.0 pycryptodomex-3.9.6 pyjwt-1.7.1 snowflake-connector-python-2.2.0 snowflake-sqlalchemy-1.2.0

In [2]:
from sqlalchemy import create_engine
import pandas as pd
import dask.dataframe as dd

engine = create_engine(
    'snowflake://{user}:{password}@{account}/'.format(
        user='YOUR_USER',
        password='YOUR_PASSWORD',
        account='YOUR_ACCOUNT',
    )
)

In [3]:
pd_df = pd.read_sql_query("SELECT * FROM SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.CUSTOMER", engine)
pd_df.head()

,c_custkey,c_name,c_address,c_nationkey,c_phone,c_acctbal,c_mktsegment,c_comment
0,1,Customer#000000001,"IVhzIApeRb ot,c,E",15,25-989-741-2988,711.56,BUILDING,"to the even, regular platelets. regular, ironi..."
1,2,Customer#000000002,"XSTf4,NCwDVaWNe6tEgvwfmRchLXak",13,23-768-687-3665,121.65,AUTOMOBILE,l accounts. blithely ironic theodolites integr...
2,3,Customer#000000003,MG9kdTD2WBHm,1,11-719-748-3364,7498.12,AUTOMOBILE,"deposits eat slyly ironic, even instructions...."
3,4,Customer#000000004,XxVSJsLAGtn,4,14-128-190-5944,2866.83,MACHINERY,"requests. final, regular ideas sleep final accou"
4,5,Customer#000000005,KvpyuHCplrB84WgAiGV6sYpZq7Tj,3,13-750-942-6364,794.47,HOUSEHOLD,n accounts will have to unwind. foxes cajole a...

In [4]:
dd_df = dd.from_pandas(pd_df, npartitions=2)
dd_df.head()

,c_custkey,c_name,c_address,c_nationkey,c_phone,c_acctbal,c_mktsegment,c_comment
0,1,Customer#000000001,"IVhzIApeRb ot,c,E",15,25-989-741-2988,711.56,BUILDING,"to the even, regular platelets. regular, ironi..."
1,2,Customer#000000002,"XSTf4,NCwDVaWNe6tEgvwfmRchLXak",13,23-768-687-3665,121.65,AUTOMOBILE,l accounts. blithely ironic theodolites integr...
2,3,Customer#000000003,MG9kdTD2WBHm,1,11-719-748-3364,7498.12,AUTOMOBILE,"deposits eat slyly ironic, even instructions...."
3,4,Customer#000000004,XxVSJsLAGtn,4,14-128-190-5944,2866.83,MACHINERY,"requests. final, regular ideas sleep final accou"
4,5,Customer#000000005,KvpyuHCplrB84WgAiGV6sYpZq7Tj,3,13-750-942-6364,794.47,HOUSEHOLD,n accounts will have to unwind. foxes cajole a...